.top_section {
    width: 100vw;
    height: 902px;
    padding-top: 1px;
    background: var(--primary-dark);
    background-position: top;
    background-image: url("../../assets/background_image.jpg");
}

.sing_in_text {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--general-white);
}

.sing_in_text:hover {
    background-color: var(--primary-dark);
}
