.content_item_container {
    width: 300px;
    height: 250px;
    margin: 8px;
    position: relative;
}

.content_image {
    width: 295px;
    height: 295px;
}

.content_name_text {
    font-family: Roboto, Sans-Serif;
    padding-top: 24px;
    font-style: normal;
    font-size:  24px;
    line-height: 28px;
    color: var(--primary);
}

.content_location_text {
    font-family: Roboto, Sans-Serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: var(--secondary-text);
    padding-top: 24px;
}
